<% content_for :content do %>
    <div class="title">Change password</div>
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <form action="" method="">
                                <%# Current Password %>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right"><%= t('master.current-password') %></label>
                                    <div class="col-md-6">
                                        <input type="password" id="current-password" class="form-control" name="current-password" required>
                                    </div>
                                </div>

                                <%# Password %>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right"><%= t('master.new-password') %></label>
                                    <div class="col-md-6">
                                        <input type="password" id="new-password" class="form-control" name="new-password" required>
                                    </div>
                                </div>

                                <%# Confirm Password %>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right"><%= t('master.confirm-password') %></label>
                                    <div class="col-md-6">
                                        <input type="password" id="confirm-password" class="form-control" name="confirm-password" required>
                                    </div>
                                </div>

                                <%# change %>
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        <%= t('master.change-password') %>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<% end %>
